* {
   box-sizing: border-box;

   /* Custom Colours */

   --darkCyan: hsl(158, 36%, 37%);
   --cream: hsl(30, 38%, 92%);
   --veryDarkBlue: hsl(212, 21%, 14%);
   --darkGrayishBlue: hsl(228, 12%, 48%);
   --white: hsl(0, 0%, 100%);
}



body {
   background-color: var(--cream);
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.container {
   display: flex;
   background-color: hsl(0, 0%, 100%);
   border-radius: 15px;
   width: 600px;
   height: 450px;
}

.left-side {
   width: 50%;
}

.product-img {
   width: 300px;
   border-radius: 10px 0 0 10px;
}

.right-side {
   width: 50%;
   padding: 30px 30px 0 30px;
   flex-direction: column;
}

.right-side .perfume{
   color: hsl(228, 12%, 48%);
   text-transform: uppercase;
   letter-spacing: 5px;
   font-size: 1rem;
}

.right-side h1 {
   max-width: 9ch;
   font-size: 2rem;
   color: hsl(212, 21%, 14%);
   text-transform: capitalize;
   font-family: 'Fraunces', serif;
}

.right-side p {
   color: hsl(228, 12%, 48%);
   font-size: 0.9rem;
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
}

.prices {
   padding-bottom: 20px;
   display: inline-block;
   align-items: center;
}

.sale-price {
   color: hsl(158, 36%, 37%);
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Fraunces', serif;
}

.right-side .og-price {
   color: hsl(228, 12%, 48%);
   text-decoration: line-through;
   margin-left: 25px;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
}


.right-side button {
   background-color: hsl(158, 36%, 37%);
   color: white;
   display: flex;
   border: none;
   padding: 1em;
   border-radius: 10px;
   width: 90%;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
   cursor: pointer;
}

.right-side i {
   margin-right: 10px;
}

/* Media Queries */

@media (max-width: 505px) {
   .container {
      flex-direction: column;
      top: 10%;
      left: 3%;
      height: 750px;
      width: 350px;
      background-color: var(--white);
   }

   .left-side img {
      height: 300px;
      width: 350px;
      object-fit: cover;
      border-radius: 10px 10px 0px 0px;
   }

   .right-side h1 {
      width: 280px;
   }

   .right-side p {
      width: 292px;
   }

   .prices {
      display: flex;
   }

   .right-side button {
      width: 260px;
   }
}


